<header>
    <div class="container nav-container">
        <a href="./index.html" class="logo" lang="en">Web<span class="logoheader">Studio</span></a>

        <nav class="site-nav">
            <ul class="list">
                <li class="item">
                    <a href="./index.html" class="link">Студія</a>
                </li>
                <li class="item"><a href="./portfolio.html" class="link">Портфоліо</a></li>
                <li class="item"><a href="./contacts.html" class="link current">Контакти</a></li>
            </ul>
        </nav>

        <ul class="list auth-nav">
            <li class="item">
                <a href="mailto:info@devstudio.com" class="link">
                    <svg class="icon-mail" width="16" height="12" aria-label="Пошта">
                        <use href="./images/icons.svg#icon-mail"></use>
                    </svg>
                    <span class="auth-text">info@devstudio.com</span>
                </a>
            </li>
            <li class="item">
                <a href="tel:+380961111111" class="link">
                    <svg class="icon-tel" width="10" height="16" aria-label="Телефон">
                        <use href="./images/icons.svg#icon-tel"></use>
                    </svg>
                    <span class="auth-text">+38 096 111 11 11</span>
                </a>
            </li>
        </ul>
    </div>
</header>