h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin-top: 0;
    padding: 0;
}

p, 
ul{
    margin-bottom: 0;
}

body{
    color: $text-color;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

body.modal-open{
    overflow: hidden;
} 

body.no-scroll,
body.mobile-open{
    overflow: hidden;
}

.list{
    list-style: none;
}

.section{
    padding: 94px 0;
    
    @media screen and (max-width: 480px){
        padding: 60px 0;
    }
}

.container{
    margin: 0 auto;
    padding: 0 15px;
            
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.button{
    padding: 6px 25px;
    border-radius: 4px;
    border: none;
    color: $title-color;
    background-color: #f5f4fa;
    border-color: #f5f4fa;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    transition-property: background-color, color;
    @extend %transition;
    
    &:hover, &:focus{
        color: $secondary-title-color;
        background-color: $accent-color;
        border-color: $accent-color;
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.overlay{
    position: absolute;
    left: 0;
    width: 100%;
    color: $secondary-title-color;
    transform: translateY(100%);
    transition-property: transform;
    @extend %transition;
}

.title{
    margin-bottom: 50px;
    color: $title-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.link{
    text-decoration: none;
}

.link:hover,
.link.current{
    color: $accent-color;
}