.email-subs{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    
    &[placeholder="E-mail"]{
        font-size: 16px;
        line-height: 1.25;
        color: $secondary-title-color;
    }

    @media screen and (min-width: 480px){
            width: 450px;
            
        }

    @media screen and (min-width: 1200px){
        display: inline-block;
        width: 358px;
        margin-right: 12px;
    }

}

.form-subs .button{
    padding: 10px 28px;
    height: 52px;
    font-weight: 700;
    line-height: 1.88;
    color: $secondary-title-color;
    background-color: $accent-color;
    box-shadow: 0;
    transition-property: box-shadow;
    @extend %transition;
}

.form-subs .button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-title:after{
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url("../images/icon-send.svg");
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}