header{
    border-bottom: 1px solid #ECECEC;
}

.logo{
    color: $accent-color;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and (max-width: 767px){
        margin-right: 87px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @media screen and (min-width: 768px){
        margin-right: 93px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.logoheader{
    color: $secondary-text-color;
}

.logofooter{
    color: $secondary-title-color;
}

.navigation{
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 60px;
}

.main-menu{
    @media screen and (max-width: 767px){
        display: none;
    }

    @media screen and (min-width: 768px){
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}
// ----------Мобильное меню
.mobile-menu {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    background-color: #fff;
    overflow: auto;
    z-index: 1;

    &.is-hidden{
        display: none;
    }

    @media screen and (max-width: 767px){
        width: 100%;
        max-width: 480px;
    }
    @media screen and (min-width: 768px){
        display: none;
    }
}

.menu-button{
    display: block;
    margin-left: auto;
    padding: 0;
    border: 0;
    fill: $title-color;
    background-color: transparent;
    cursor: pointer;
    
    &__close{
    position: absolute;
    top: 10px;
    right: 15px;
    }

    &:hover,
    &:focus{
        fill: $accent-color;
    }

    @media screen and (min-width: 768px){
        &__open{
            display: none;
        }
    }
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 768px){
        flex-direction: row;
        gap: 50px;
    }
}

.menu__item{position: relative;}

.menu__link{
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $title-color;

    &.current,
    &:hover,
    &:focus{
        color: $accent-color;
    }

    @media screen and (min-width: 1200px){
        padding-top: 32px;
        padding-bottom: 32px;

    }
}

.contacts-group {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.contacts__list{
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 768px){
        flex-direction: column-reverse;
        gap: 10px;
    }
}

.tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $accent-color;
}

.contacts__icon{
    @media screen and (max-width: 767px){
        display: none;
    }
}

.mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: $text-color;
}

.social-link {
    &__list {
        display: flex;
        gap: 20px;
    }

    &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;
    letter-spacing: 0.02em;
    color: $accent-color;
    }
}
// Tablet menu

@media screen and (min-width: 768px){
    .tel:hover, .mail:hover, .tel:focus, .mail:focus {
        color: $accent-color;
    }

    .tel:hover + .contacts__icon--tel,
    .mail:hover + .contacts__icon--mail{
        fill: $accent-color;
    }

    .contacts__icon--tel:hover,
    .contacts__icon--mail:hover{
        fill: $accent-color;
        cursor: pointer;
    }
    
    .menu__link{
        font-size: 14px;
    }

    .mail, .tel{
        gap: 10px;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.02em;
        color: $text-color;
    }
    
    .contacts__item{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: start;
    }

    .contacts__icon{
        margin-right: 8px;
    }
}

@media screen and (min-width: 1200px){
    .contacts__list{
        flex-direction: row-reverse;
        gap: 30px;
        font-size: 14px; 
    }

    .mail, .tel{
        font-size: 14px;
        line-height: calc(16 / 14);
    }
}

@media screen and (min-width: 768px){
    .menu .link::after,
    .contacts_link::after{
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0%;
        height: 4px;
        border-radius: 2px;
        background-color: $text-color;
        transition: width;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu .link:hover::after,
    .contacts__link:hover::after{
        width: 100%;
        left: 0;
    }
}

.link.current::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
}