.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    height: auto;
    padding: 118px 0;
    margin: 0 auto;
    
        @media (min-device-pixel-ratio: 1),
            (-webkit-min-device-pixel-ratio: 1),
            (-o-min-device-pixel-ratio: 1/1),
            (min-resolution: 96dpi),
            (min-resolution: 1dppx) {
                background-image: -webkit-gradient(linear,
                    left top, right top,
                    from(rgba(47, 48, 58, 0.4)),
                    to(rgba(47, 48, 58, 0.4))),
                    url("../../images/header-mobile.jpg");
                background-image: -o-linear-gradient(left,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url("../../images/header-mobile.jpg");
                background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url("../../images/header-mobile.jpg");
            }
    
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (-o-min-device-pixel-ratio: 2/1),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: -webkit-gradient(linear,
                    left top, right top,
                    from(rgba(47, 48, 58, 0.4)),
                    to(rgba(47, 48, 58, 0.4))),
                    url("../../images/header-mobile@2x.jpg");
                background-image: -o-linear-gradient(left,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url("../../images/header-mobile@2x.jpg");
                background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url("../../images/header-mobile@2x.jpg");
            }

        @media (min-device-pixel-ratio: 3),
            (-webkit-min-device-pixel-ratio: 3),
            (-o-min-device-pixel-ratio: 3/1),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
                background-image: -webkit-gradient(linear,
                    left top, right top,
                    from(rgba(47, 48, 58, 0.4)),
                    to(rgba(47, 48, 58, 0.4))),
                    url("../../images/header-mobile@3x.jpg");
                background-image: -o-linear-gradient(left,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url("../../images/header-mobile@3x.jpg");
                background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url("../../images/header-mobile@3x.jpg");
            }
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: $first-bgcolor;

        @media screen and (min-width: 768px){
            width: 768px;
        
           @media (min-device-pixel-ratio: 1),
                (-webkit-min-device-pixel-ratio: 1),
                (-o-min-device-pixel-ratio: 1/1),
                (min-resolution: 96dpi),
                (min-resolution: 1dppx) {
                    background-image: -webkit-gradient(linear,
                        left top, right top,
                        from(rgba(47, 48, 58, 0.4)),
                        to(rgba(47, 48, 58, 0.4))),
                        url("../../images/header-tablet.jpg");
                    background-image: -o-linear-gradient(left,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url("../../images/header-tablet.jpg");
                    background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url("../../images/header-tablet.jpg");
                }
        
            @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (-o-min-device-pixel-ratio: 2/1),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: -webkit-gradient(linear,
                        left top, right top,
                        from(rgba(47, 48, 58, 0.4)),
                        to(rgba(47, 48, 58, 0.4))),
                        url("../../images/header-tablet@2x.jpg");
                    background-image: -o-linear-gradient(left,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url("../../images/header-tablet@2x.jpg");
                    background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url("../../images/header-tablet@2x.jpg");
                }

            @media (min-device-pixel-ratio: 3),
                (-webkit-min-device-pixel-ratio: 3),
                (-o-min-device-pixel-ratio: 3/1),
                (min-resolution: 288dpi),
                (min-resolution: 3dppx) {
                    background-image: -webkit-gradient(linear,
                        left top, right top,
                        from(rgba(47, 48, 58, 0.4)),
                        to(rgba(47, 48, 58, 0.4))),
                        url("../../images/header-tablet@3x.jpg");
                    background-image: -o-linear-gradient(left,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url("../../images/header-tablet@3x.jpg");
                    background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url("../../images/header-tablet@3x.jpg");
                } 
        }

        @media screen and (min-width: 1200px){
            width: 1600px;
            padding: 200px 0;
        
            @media (min-device-pixel-ratio: 1),
                (-webkit-min-device-pixel-ratio: 1),
                (-o-min-device-pixel-ratio: 1/1),
                (min-resolution: 96dpi),
                (min-resolution: 1dppx) {
                    background-image: -webkit-gradient(linear,
                        left top, right top,
                        from(rgba(47, 48, 58, 0.4)),
                        to(rgba(47, 48, 58, 0.4))),
                        url("../../images/header-desktop.jpg");
                    background-image: -o-linear-gradient(left,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url("../../images/header-desktop.jpg");
                    background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url("../../images/header-desktop.jpg");
                }
        
            @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (-o-min-device-pixel-ratio: 2/1),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: -webkit-gradient(linear,
                        left top, right top,
                        from(rgba(47, 48, 58, 0.4)),
                        to(rgba(47, 48, 58, 0.4))),
                        url("../../images/header-desktop@2x.jpg");
                    background-image: -o-linear-gradient(left,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url("../../images/header-desktop@2x.jpg");
                    background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url("../../images/header-desktop@2x.jpg");
                }

            @media (min-device-pixel-ratio: 3),
                (-webkit-min-device-pixel-ratio: 3),
                (-o-min-device-pixel-ratio: 3/1),
                (min-resolution: 288dpi),
                (min-resolution: 3dppx) {
                    background-image: -webkit-gradient(linear,
                        left top, right top,
                        from(rgba(47, 48, 58, 0.4)),
                        to(rgba(47, 48, 58, 0.4))),
                        url("../../images/header-desktop@3x.jpg");
                    background-image: -o-linear-gradient(left,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url("../../images/header-desktop@3x.jpg");
                    background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url("../../images/header-desktop@3x.jpg");
                }   
        }


    &__title{
        display: block;
        max-width: 360px;
        margin: 0 auto 30px auto;
        color: $secondary-title-color;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        @media screen and (min-width: 1200px){
            max-width: 696px;
            font-size: 44px;
            line-height: 1.4;
        }
    }

    &__button{
        display: block;
        padding: 10px 24px;
        margin: 0 auto;
        border: 2px solid $accent-color;
        border-radius: 4px;
        color: $secondary-title-color;
        background-color: $accent-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        
        @media screen and (min-width: 1200px){
            padding: 10px 32px;
        }
    }
}



