.backdrop{
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .5);
    opacity: 1;
    
    &.is-hidden{
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition-delay: 250ms;
    }
}

.modal{
    // display: flex;
    position: absolute;
    width: 450px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    padding: 40px;
    color: #757575;
    background-color: #ffffff;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;

    transition-property: color, transform;
    transform: translate(-50%, -50%) scale(1);
    @extend %transition;
    overflow: hidden;

    @media screen and (min-width: 1200px){
        width: 528px;
    }

    .backdrop.is-hidden &{
        transform: translate(-50%, -50%) scale(0);
        color: #ffffff;
    }

    
}



.close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;

    transform: rotate(0deg);
    transition-property: transform;
    @extend %transition;

    &:hover{
        transform: rotate(360deg);
        fill: $accent-color;
    }
}